<div class="row animated fadeIn">
    <div class="row" style="padding: 1%;">
        <div class="card">
            <div class="card-body">
                <hr>
                <dx-data-grid id="gridContainer" [dataSource]="appDocumentosTipoEntidades" keyExpr="tdoId"
                    [wordWrapEnabled]="true" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true"
                    [showBorders]="true" [rowAlternationEnabled]="false" [allowColumnReordering]="false"
                    [allowColumnResizing]="false">
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxi-column dataField="tdoNombre" caption="Nombre" [allowSorting]="false">
                    </dxi-column>
                    <dxi-column dataField="tdoObservaciones" caption="Observación" [allowSorting]="false">
                    </dxi-column>
                    <dxi-column dataField="tdoObservaciones" caption="Cargue" [allowSorting]="false"
                        cellTemplate="cellTemplateItem">
                        <div *dxTemplate="let datosItem of 'cellTemplateItem'">
                           
                            <div [style.display]="ocultar(datosItem.data.tdvRutaAdjunto)">
                                <a href="javascript:void(0);" (click)="descargar(datosItem.data.tdvNombre);">
                                    <dx-button icon="download" text="">
                                    </dx-button>
                                    {{datosItem.data.tdvNombre}}
                                </a>
                            </div>
                            <div [style.display]="ocultar(datosItem.data.tdvRutaAdjunto)">
                                <label>
                                    Cantidad de hojas: {{datosItem.data.tdvNumeroPaginas}}
                                </label>
                            </div>
                        </div>
                    </dxi-column>
                    <dxi-column dataField="tdoNs" caption="Tipo">
                    </dxi-column>
                </dx-data-grid>
                <hr>
               
            </div>
        </div>    
    </div>
</div>

    <div class="label" style="font-size: 16px;">
        <a href="javascript:void(0);" (click)="descargarZip();">
            <dx-button icon="download" text="">
            </dx-button>
            Descargar todos los documentos en un .zip
        </a>
    </div>
    